@import '%PUBLIC_URL%/../src/Assets/Colors/_color.sass'
@import '%PUBLIC_URL%/../src/Assets/Colors/_text.sass'

@mixin padding()
    padding: $p

.content
    h3
        font-size: 30px

    h2
        font-size: 60px
        padding-bottom: $paddingBottm
        @media screen and (max-width: 991.98px)
            font-size: 32px
    &__header
        text-align: center
        margin: $m 0 $m 0
        p
            width: 650px
            max-width: 70%
            margin: auto
            @media screen and (max-width: 991.98px)
                max-width: 90%

    &__block
        position: relative
        border-top: 1px solid $colorBorder
        border-bottom: 1px solid $colorBorder
        height: 650px
        width: 100%
        @media screen and (max-width: 991.98px)
            height: 100%
            flex-direction: column
        h3
            padding-bottom: $paddingBottm
        &--left
            background: linear-gradient(160deg, #082832 25%, #187a9856 100%)
            display: flex
            flex-direction: column
            justify-content: center
            // align-items: center
            @include padding()
            height: 100%
            border-left: 1px solid $colorBorder
            width: 50%
            @media screen and (max-width: 991.98px)
                width: 100%
                border-right: 1px solid $colorBorder
                bordder-bottom: 1px solid $colorBorder

            a
                width: fit-content

        &--right
            border-left: 1px solid $colorBorder
            border-right: 1px solid $colorBorder
            width: 50%
            @media screen and (max-width: 991.98px)
                width: 100%
            &--bottom
                background: linear-gradient(-30deg, #082832 25%, #187a9856 100%)
                height: 50%
                @media screen and (max-width: 991.98px)
                    height: fit-content
            &--top
                background: linear-gradient(-160deg, #082832 25%, #187a9856 100%)
                height: 50%
                border-bottom: 1px solid $colorBorder
                @media screen and (max-width: 991.98px)
                    height: fit-content
            &--bottom, &--top
                @include padding()
