body {
  margin: 0;
  font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #082832;
}

/* Reset CSS */
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #f0c3d2;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: #3d3d3d;
}
